.post {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.post__profile {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post__profile > img {
    width: 40px;
    border-radius: 999px;
}

.post__profile > h4 {
    margin-left: 10px;
}

.post__body {
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.post__context > p {
    padding: 10px;
}

.post__communities {
    display: flex;
}

.post__community {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
}

.post__community > h4 {
    font-weight: 500;
}

.post__options {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px gray;
    padding: 15px;
}

.post__option {
    display: flex;
    align-items: center;
}

.post__option:hover {
    cursor: pointer;
}

.post__option > p {
    margin-left: 10px;
}
