.infowindowButtonDiv {
    display: flex;
    justify-content: center;
}

.infowindowButtonDiv > input {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 10px;

    transition: 0.3s;
}

.infowindowButtonDiv > input:hover {
    background-color: #2e81f4;
    color: white;
}