.profileBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95vh;
    width: 200px;
    position: absolute;
    top: 2.5vh;
    right: 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 5px 10px -3px rgba(0, 0, 0, 0.75);
}

.profileBar > a {
    text-decoration: none;
}

.profileBar__item {
    align-items: center;
    padding: 10px 15px 10px 10px;
    color: black;
    transition: transform 100ms ease-in;
}

.profileBar__item > h4 {
    text-align: end;
}

.profileBar__item:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.profileBar__item--active {
    color: #2e81f4;
}