.home {
    display: flex;
}

.home__menuBar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* width: 200px; */
    /* height: 100%; */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 5px 10px -3px rgba(0, 0, 0, 0.75);
    margin: 10px;
  }

.home__map {
    position: relative;
    z-index: 1;
}

.home__favorites {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 99px;
    
}

.home__favorites > .MuiSvgIcon-root {
    font-size: xx-large;
}