.home {
    display: flex;
}

.home__menuBar {
    z-index: 2;
}

.home__map {
    position: relative;
    z-index: 1;
}

.home__favorites {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 99px;   
}

.home__zoom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    margin: 30px;
}