.avatar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.avatar > h4 {
    text-align: center;
    padding: 10px;
}

.avatar > img {
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    width: 300px;
}