.popup {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
}

.popup__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.popup__avatar {
    margin-right: 10px;
}

.popup__topInfo > h3 {
    font-size: medium;
}

.popup__topInfo > p {
    font-size: small;
    color: gray;
}

.popup__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.popup__image > img {
    width: 300px;
}

.popup__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.popup__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.popup__option > p {
    margin-left: 5px;
    /* margin-right: 10px; */
}

.popup__option:hover {
    background-color: #eff2ef;
    border-radius: 10px;
}