.createPost {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
    padding: 5px;
}

.createPost__profile {
    display: flex;
    align-items: center;
    padding: 10px;
}

.createPost__profile > img {
    width: 40px;
    border-radius: 999px;
}

.createPost__profile > h4 {
    margin-left: 10px;
}

.createPost__inputs {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.createPost__imageInput {
    background-color: lightgray;
    border-radius: 10px;
}

.createPost__imageInput > input {
    display: none;
}

.createPost__imageInput > label {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createPost__imageInput > label > .MuiSvgIcon-root{
    color: #2e81f4;
}

.createPost__imageInput > label > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.createPost__textInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
}

.createPost__textInput {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 10px;
}

.createPost__textInput > input {
    border: none;
    outline-width: 0;
    background-color: transparent;
    width: 300px;
}

.createPost__bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.createPost__categories {
    display: flex;
}

.createPost__category {
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    margin-right: 10px;
}

.createPost__category--community {
    background-color: #2e81f4;
    color: white;
}

.createPost__category--theme {
    background-color: lightgray;
    color: white;
}

.createPost__category > h4 {
    font-weight: 500;
}

.createPost__createButton > button {
    border-radius: 10px;
    height: 100%;
}